In [1]:
import petrovisor as pv

In [2]:
import pandas as pd
import numpy as np
import os
import io
import json

# Authorization

In [3]:
# url
discovery_url = r'https://identity.eu1.petrovisor.com'
# discovery_url = r'https://identity.us1.petrovisor.com'

# workspace
workspace = 'Workspace Name'

# generate access key (only for the first time, comment the line afterwards)
key = pv.PetroVisor.generate_credentials_key()
# print(f"key : '{key}'")
# save key for later to reuse
# key = ''

api = pv.PetroVisor(workspace = workspace, discovery_url = discovery_url, key = key)
print(api.Api)

https://api-latest.eu1.petrovisor.com

# PetroVisor API Swagger

https://api.eu1.petrovisor.com/index.html

https://api.us1.petrovisor.com/index.html

# Examples: File Storage

In [4]:
# get file names
files = api.get_file_names()
files

['18934 xlsm.xlsm',
 '18934 xlsx.xlsx',
 '19253 - header.csv',
 '19253.csv',
 'Alias Mapping.xlsx',
 'AustinISD_Time_Data_Hourly.xlsx',
 'BRUGGE60K_FY-SF-KM-1-1.EGRID',
 'BRUGGE60K_FY-SF-KM-1-1.GRDECL',
 'Book1.xlsx',
 'CVX Waterflood Pattern Allocations.xlsx',
 'ConditionIdentificationMLModel.zip',
 'ConditionIdentificationModel.zip',
 'CumulativesTest.csv',
 'Data Session Stats Old.xlsx',
 'Data Session Stats.xlsx',
 'Data.xlsx',
 'DateFormat.xlsx',
 'DeleteDataInScopeTest.xlsx',
 'DemoData.accdb',
 'Entities Import.xlsx',
 'Example Well 001.LAS',
 'FY-2022 Post-JIB (NET).xlsx',
 'Fake Hierarchy.xlsx',
 'Histórico_Teste_Poço_Geral_10anos_rev1 (1).xlsx',
 'OGD_DrillingSpacingUnits.dbf',
 'OGD_DrillingSpacingUnits.shp',
 'Oil.xlsx',
 'PetroVisor Sample Data.xlsx',
 'Pontian1',
 'Pontian1.shp',
 'PredictiveMaintenance.zip',
 'Prod Small Set.xlsx',
 'ProdMan Report 02.27.2023.xlsx',
 'Prod_1000.xlsx',
 'PythonDataFrame',
 'PythonDataFrame.csv',
 'PythonDataFrame.xlsx',
 'Reserves_Master_Oneline.xlsx',
 'Static Small Set.xlsx',
 'String Cleansing Concat.xlsx',
 'String Cleansing.xlsx',
 'Synthetic Production Data.csv',
 'Synthetic Static Data.xlsx',
 'Tag Entries Import Test.xlsx',
 'TagEntriesImportExample.xlsx',
 'WDBC_QEPDEMO_Well_Header.txt',
 'WFMP A SHALE - STRUCTURE.zmap',
 'Weird Date Format.xlsx',
 'Well Test.xlsx',
 'WellMaster-Steward Master Well List (6).xlsx',
 'Workflow Export.csv',
 'analytic_params.npy',
 'best_actor_model.onnx',
 'data integration test.xlsx',
 'first_file.csv',
 'folder_name/text_file_inside_folder.txt',
 'fu-86D-AL.csv',
 'fu-86D-AL.xls',
 'in_memory_json_file.txt',
 'in_memory_text_file.txt',
 'irap_grid_01.png',
 'iris_binary_classification.onnx',
 'iris_binary_classification_zipmap_false.onnx',
 'json_file.txt',
 'linear_regression_model.onnx',
 'model_tf (1).onnx',
 'model_tf (2).onnx',
 'model_tf (3).onnx',
 'model_tf.onnx',
 'npssss.onnx',
 'oip_map',
 'oip_map.shp',
 'oip_map_cps3',
 'oip_map_irap',
 'oip_map_zmap',
 'python_file.json',
 'python_object.json',
 'pytorch_mlp.onnx',
 'regression_4in_1out_tf2onnx_onnx_model (1).onnx',
 'regression_4in_1out_tf2onnx_onnx_model.onnx',
 'regression_4in_1out_tf2onnx_onnxmodel.onnx',
 'regression_model (1).onnx',
 'regression_model.onnx',
 'requirements (1).txt',
 'requirements.txt',
 'requirementsfile.txt',
 'requirementsfilenotorch (1).txt',
 'requirementsfilenotorch.txt',
 'saved_model.pb',
 'second_file.csv',
 'shapefile_map_example.dbf',
 'shapefile_map_example.prj',
 'shapefile_map_example.shp',
 'shapefile_map_example.shx',
 'sklearn_iris_model (1).onnx',
 'sklearn_iris_model (2).onnx',
 'sklearn_iris_model.onnx',
 'tensorflow_iris_model.onnx',
 'text_file.txt',
 'tf_keras_mlp (1).onnx',
 'torch_iris_model (2).onnx',
 'torch_iris_model.onnx',
 'zmap_example']

## Examples: Uploading Files to Workspace

#### Upload text file

In [5]:
text_filename = 'text_file.txt'

In [6]:
# save file to disk
with io.StringIO() as f:
    f.write("line1: some text in line 1\n")
    f.write("line2: some text in line 2\n")
    f.write("line3: some text in line 3. ")
    f.write("Still some text in line 3")
    f.name = text_filename
    with open(text_filename, mode='w') as fout:
        print(f.getvalue(), file=fout)

In [7]:
# upload file
api.upload_file(text_filename)

{'FileName': 'text_file.txt',
 'FileSize': 108,
 'LastModified': '2024-09-14T06:27:24+00:00'}

In [8]:
# get text file (directly loading text content)
text_file = api.get_file(text_filename,format='text')

In [9]:
# print text content
with io.StringIO(text_file) as text_file:
    lines = text_file.readlines()
    for line in lines:
        print(line,end='')

line1: some text in line 1
line2: some text in line 2
line3: some text in line 3. Still some text in line 3

#### Upload text file within specified directory

In [10]:
text_filename = 'text_file_inside_folder.txt'

In [11]:
# save file to disk
with io.StringIO() as f:
    f.write("line1: inside_folder: some text in line 1\n")
    f.write("line2: inside_folder: some text in line 2\n")
    f.write("line3: inside_folder: some text in line 3. ")
    f.write("Still some text in line 3")
    #f.name = text_filename
    with open(text_filename, mode='w') as fout:
        print(f.getvalue(), file=fout)

In [12]:
# upload file
from pathlib import PureWindowsPath
text_filename_with_foldername = os.path.join('folder_name',text_filename)
api.upload_file(text_filename, name=text_filename_with_foldername)

{'FileName': 'text_file_inside_folder.txt',
 'FileSize': 153,
 'LastModified': '2024-09-14T06:27:25+00:00'}

In [13]:
text_filename_with_foldername

'folder_name/text_file_inside_folder.txt'

In [14]:
# get text file (directly loading text content)
text_file_inside_folder = api.get_file(text_filename_with_foldername,format='text')

In [15]:
# print text content
with io.StringIO(text_file_inside_folder) as text_file:
    lines = text_file.readlines()
    for line in lines:
        print(line,end='')

line1: inside_folder: some text in line 1
line2: inside_folder: some text in line 2
line3: inside_folder: some text in line 3. Still some text in line 3

#### Upload json file

In [16]:
# upload json file
json_filename = 'json_file.txt'

In [17]:
# save file to disk
with io.StringIO() as f:
    d = {
        'Name': 'some name',
        'Int': 1,
        'Dict': {'a': 1, 'b': [1,2,3], 'c': 'string'},
        'List': [1,2,3,4,5]
    }
    f.write(json.dumps(d))
    f.name = json_filename
    with open(json_filename, mode='w') as fout:
        print(f.getvalue(), file=fout)

In [18]:
# upload file
api.upload_file(json_filename)

{'FileName': 'json_file.txt',
 'FileSize': 106,
 'LastModified': '2024-09-14T06:27:25+00:00'}

In [19]:
# get json file (directly loading json content)
json_file = api.get_file(json_filename,format='json')
json_file

{'Name': 'some name',
 'Int': 1,
 'Dict': {'a': 1, 'b': [1, 2, 3], 'c': 'string'},
 'List': [1, 2, 3, 4, 5]}

#### Upload folder

In [20]:
# create folder with files
folder_name = 'tests'
if not os.path.isdir(folder_name):
    os.mkdir(folder_name)
# save file to disk
with io.StringIO() as f:
    f.write("file1: line1: some text in line 1\n")
    f.write("file1: line2: some text in line 2\n")
    f.write("file1: line3: some text in line 3. ")
    f.write("Still some text in line 3")
    f.name = 'file1.txt'
    with open(os.path.join(folder_name,'file1.txt'), mode='w') as fout:
        print(f.getvalue(), file=fout)
# create deirectory inside main directory
inner_folder_name = os.path.join(folder_name,'upload_folder_test')
if not os.path.isdir(inner_folder_name):
    os.mkdir(inner_folder_name)
with io.StringIO() as f:
    f.write("file2: line1: some text in line 1\n")
    f.write("file2: line2: some text in line 2\n")
    f.write("file2: line3: some text in line 3. ")
    f.write("file2: Still some text in line 3")
    f.name = 'file2.txt'
    with open(os.path.join(inner_folder_name,'file2.txt'), mode='w') as fout:
        print(f.getvalue(), file=fout)

In [21]:
# upload folder
api.upload_folder(folder_name)

In [22]:
# delete folder
api.delete_folder(folder_name)

In [23]:
# upload folder under different name
new_folder_name = os.path.join('tests','new_test_name')
api.upload_folder(folder_name, name=new_folder_name)

In [24]:
# delete folder
api.delete_folder(new_folder_name)

In [25]:
files = api.get_file_names()
files

['18934 xlsm.xlsm',
 '18934 xlsx.xlsx',
 '19253 - header.csv',
 '19253.csv',
 'Alias Mapping.xlsx',
 'AustinISD_Time_Data_Hourly.xlsx',
 'BRUGGE60K_FY-SF-KM-1-1.EGRID',
 'BRUGGE60K_FY-SF-KM-1-1.GRDECL',
 'Book1.xlsx',
 'CVX Waterflood Pattern Allocations.xlsx',
 'ConditionIdentificationMLModel.zip',
 'ConditionIdentificationModel.zip',
 'CumulativesTest.csv',
 'Data Session Stats Old.xlsx',
 'Data Session Stats.xlsx',
 'Data.xlsx',
 'DateFormat.xlsx',
 'DeleteDataInScopeTest.xlsx',
 'DemoData.accdb',
 'Entities Import.xlsx',
 'Example Well 001.LAS',
 'FY-2022 Post-JIB (NET).xlsx',
 'Fake Hierarchy.xlsx',
 'Histórico_Teste_Poço_Geral_10anos_rev1 (1).xlsx',
 'OGD_DrillingSpacingUnits.dbf',
 'OGD_DrillingSpacingUnits.shp',
 'Oil.xlsx',
 'PetroVisor Sample Data.xlsx',
 'Pontian1',
 'Pontian1.shp',
 'PredictiveMaintenance.zip',
 'Prod Small Set.xlsx',
 'ProdMan Report 02.27.2023.xlsx',
 'Prod_1000.xlsx',
 'PythonDataFrame',
 'PythonDataFrame.csv',
 'PythonDataFrame.xlsx',
 'Reserves_Master_Oneline.xlsx',
 'Static Small Set.xlsx',
 'String Cleansing Concat.xlsx',
 'String Cleansing.xlsx',
 'Synthetic Production Data.csv',
 'Synthetic Static Data.xlsx',
 'Tag Entries Import Test.xlsx',
 'TagEntriesImportExample.xlsx',
 'WDBC_QEPDEMO_Well_Header.txt',
 'WFMP A SHALE - STRUCTURE.zmap',
 'Weird Date Format.xlsx',
 'Well Test.xlsx',
 'WellMaster-Steward Master Well List (6).xlsx',
 'Workflow Export.csv',
 'analytic_params.npy',
 'best_actor_model.onnx',
 'data integration test.xlsx',
 'first_file.csv',
 'folder_name/text_file_inside_folder.txt',
 'fu-86D-AL.csv',
 'fu-86D-AL.xls',
 'in_memory_json_file.txt',
 'in_memory_text_file.txt',
 'irap_grid_01.png',
 'iris_binary_classification.onnx',
 'iris_binary_classification_zipmap_false.onnx',
 'json_file.txt',
 'linear_regression_model.onnx',
 'model_tf (1).onnx',
 'model_tf (2).onnx',
 'model_tf (3).onnx',
 'model_tf.onnx',
 'npssss.onnx',
 'oip_map',
 'oip_map.shp',
 'oip_map_cps3',
 'oip_map_irap',
 'oip_map_zmap',
 'python_file.json',
 'python_object.json',
 'pytorch_mlp.onnx',
 'regression_4in_1out_tf2onnx_onnx_model (1).onnx',
 'regression_4in_1out_tf2onnx_onnx_model.onnx',
 'regression_4in_1out_tf2onnx_onnxmodel.onnx',
 'regression_model (1).onnx',
 'regression_model.onnx',
 'requirements (1).txt',
 'requirements.txt',
 'requirementsfile.txt',
 'requirementsfilenotorch (1).txt',
 'requirementsfilenotorch.txt',
 'saved_model.pb',
 'second_file.csv',
 'shapefile_map_example.dbf',
 'shapefile_map_example.prj',
 'shapefile_map_example.shp',
 'shapefile_map_example.shx',
 'sklearn_iris_model (1).onnx',
 'sklearn_iris_model (2).onnx',
 'sklearn_iris_model.onnx',
 'tensorflow_iris_model.onnx',
 'text_file.txt',
 'tf_keras_mlp (1).onnx',
 'torch_iris_model (2).onnx',
 'torch_iris_model.onnx',
 'zmap_example']

## Examples: Upload Python in-memory objects to Workspace

#### Upload in-memory text file

In [26]:
in_memory_text_filename = 'in_memory_text_file.txt'

In [27]:
# upload txt file (in-memory)
s = ''
s += "line 1: some in-memory text file\n"
s += "line 2: some in-memory text file\n"
with io.StringIO(s) as f:
    f.name = in_memory_text_filename
    api.upload_file(f)

In [28]:
# get file-like object
file = api.get_file(in_memory_text_filename)

with io.BytesIO(file) as inmemory_file:
    lines = inmemory_file.readlines()
    for line in lines:
        print(line.decode("utf-8"), end='')

line 1: some in-memory text file
line 2: some in-memory text file

In [29]:
# get text file (directly loading text content)
text_file = api.get_file(in_memory_text_filename,format='text')

with io.StringIO(text_file) as text_file:
    lines = text_file.readlines()
    for line in lines:
        print(line,end='')

line 1: some in-memory text file
line 2: some in-memory text file

#### Upload in-memory json file

In [30]:
in_memory_json_filename = 'in_memory_json_file.txt'

In [31]:
d = {
    'a': 1,
    'b': 'foo',
    'c': [1,2,3],
    'd': {
        'x': ['a','b','c',],
        'y': [1,2,3],
         }
}

In [32]:
api.upload_object(d,in_memory_json_filename, binary=False)

{'FileName': 'in_memory_json_file.txt',
 'FileSize': 81,
 'LastModified': '2024-09-14T06:27:30+00:00'}

In [33]:
# get json file (directly loading json content)
json_file = api.get_file(in_memory_json_filename,format='json')
json_file

{'a': 1,
 'b': 'foo',
 'c': [1, 2, 3],
 'd': {'x': ['a', 'b', 'c'], 'y': [1, 2, 3]}}

#### Upload DataFrame

In [34]:
dataframe_object_name = 'PythonDataFrame'

In [35]:
df = pd.DataFrame(np.random.uniform(0,1,size=(int(1e3), 6)),
                  columns=list('ABCDEF'))
df.describe()

,A,B,C,D,E,F
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.505380,0.503491,0.488289,0.507628,0.498925,0.502109
std,0.286202,0.293247,0.285330,0.293311,0.291313,0.286579
min,0.000920,0.000750,0.000553,0.000400,0.000388,0.000228
25%,0.259061,0.245827,0.258364,0.244225,0.243813,0.264616
50%,0.514605,0.505117,0.473647,0.504914,0.499803,0.495396
75%,0.747422,0.761440,0.741520,0.770293,0.747238,0.753323
max,0.999916,0.999761,0.999419,0.996839,0.996180,0.997951

In [36]:
# upload object with specified name
api.upload_object(df,dataframe_object_name)

{'FileName': 'PythonDataFrame',
 'FileSize': 45889,
 'LastModified': '2024-09-14T06:27:30+00:00'}

In [37]:
# load specified object by name
df_loaded = api.get_object(dataframe_object_name)
df_loaded.describe()

,A,B,C,D,E,F
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.505380,0.503491,0.488289,0.507628,0.498925,0.502109
std,0.286202,0.293247,0.285330,0.293311,0.291313,0.286579
min,0.000920,0.000750,0.000553,0.000400,0.000388,0.000228
25%,0.259061,0.245827,0.258364,0.244225,0.243813,0.264616
50%,0.514605,0.505117,0.473647,0.504914,0.499803,0.495396
75%,0.747422,0.761440,0.741520,0.770293,0.747238,0.753323
max,0.999916,0.999761,0.999419,0.996839,0.996180,0.997951

#### Upload Excel

In [38]:
dataframe_file_name = 'PythonDataFrame.xlsx'

In [39]:
df = pd.DataFrame(np.random.uniform(0,1,size=(int(1e3), 6)),
                  columns=list('ABCDEF'))
df.describe()

,A,B,C,D,E,F
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.489670,0.489180,0.507504,0.510191,0.491957,0.496886
std,0.287381,0.283990,0.288265,0.286856,0.290977,0.285665
min,0.000099,0.002739,0.000985,0.000608,0.000994,0.000573
25%,0.246406,0.253548,0.258094,0.257812,0.236022,0.249795
50%,0.469498,0.479472,0.508597,0.520490,0.504487,0.495216
75%,0.743618,0.731988,0.753523,0.764544,0.723016,0.742412
max,0.995917,0.999964,0.997376,0.999637,0.999195,0.998996

In [40]:
# upload DataFrame to excel file
api.upload_object(df,dataframe_file_name)

{'FileName': 'PythonDataFrame.xlsx',
 'FileSize': 83452,
 'LastModified': '2024-09-14T06:27:31+00:00'}

In [41]:
# load DataFrame from excel file
df_loaded = api.get_object(dataframe_file_name)
df_loaded.describe()

,A,B,C,D,E,F
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.489670,0.489180,0.507504,0.510191,0.491957,0.496886
std,0.287381,0.283990,0.288265,0.286856,0.290977,0.285665
min,0.000099,0.002739,0.000985,0.000608,0.000994,0.000573
25%,0.246406,0.253548,0.258094,0.257812,0.236022,0.249795
50%,0.469498,0.479472,0.508597,0.520490,0.504487,0.495216
75%,0.743618,0.731988,0.753523,0.764544,0.723016,0.742412
max,0.995917,0.999964,0.997376,0.999637,0.999195,0.998996

#### Upload CSV

In [42]:
dataframe_file_name = 'PythonDataFrame.csv'

In [43]:
df = pd.DataFrame(np.random.uniform(0,1,size=(int(1e3), 6)),
                  columns=list('ABCDEF'))
df.describe()

,A,B,C,D,E,F
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.511454,0.522048,0.504313,0.504713,0.494732,0.500210
std,0.284970,0.283053,0.286638,0.286273,0.294515,0.289024
min,0.003330,0.000405,0.000959,0.000050,0.001490,0.000190
25%,0.275897,0.291933,0.256520,0.259792,0.237938,0.251599
50%,0.508559,0.539129,0.501602,0.520600,0.471285,0.512058
75%,0.756777,0.755231,0.743460,0.756497,0.760238,0.751268
max,0.999784,0.997883,0.999541,0.998536,0.998784,0.998828

In [44]:
# upload DataFrame to csv file
api.upload_object(df,dataframe_file_name)

{'FileName': 'PythonDataFrame.csv',
 'FileSize': 115541,
 'LastModified': '2024-09-14T06:27:32+00:00'}

In [45]:
# load DataFrame from csv file
df_loaded = api.get_object(dataframe_file_name)
df_loaded.describe()

,A,B,C,D,E,F
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.511454,0.522048,0.504313,0.504713,0.494732,0.500210
std,0.284970,0.283053,0.286638,0.286273,0.294515,0.289024
min,0.003330,0.000405,0.000959,0.000050,0.001490,0.000190
25%,0.275897,0.291933,0.256520,0.259792,0.237938,0.251599
50%,0.508559,0.539129,0.501602,0.520600,0.471285,0.512058
75%,0.756777,0.755231,0.743460,0.756497,0.760238,0.751268
max,0.999784,0.997883,0.999541,0.998536,0.998784,0.998828

#### Upload Obejct using Pickle

In [46]:
python_object_name = 'pyobj'

In [47]:
# Python class
class PythonObject:
    def __init__(self, a, b, c):
        self.__a = a
        self.__b = b
        self.__c = c
    def print(self):
        print(f'a={self.__a},b={self.__b},c={self.__c}')
    def some_method(self):
        print('Some method!')
pyobj = PythonObject(1,2,'ok')

In [48]:
# upload object by name
api.upload_object(pyobj,python_object_name)

{'FileName': 'pyobj',
 'FileSize': 120,
 'LastModified': '2024-09-14T06:27:33+00:00'}

In [49]:
# get object
pyobj_loaded = api.get_object(python_object_name)
pyobj_loaded.print()
pyobj_loaded.some_method()

a=1,b=2,c=ok
Some method!

## Examples: Delete File

In [50]:
# get file names
files = api.get_file_names()
files

['18934 xlsm.xlsm',
 '18934 xlsx.xlsx',
 '19253 - header.csv',
 '19253.csv',
 'Alias Mapping.xlsx',
 'AustinISD_Time_Data_Hourly.xlsx',
 'BRUGGE60K_FY-SF-KM-1-1.EGRID',
 'BRUGGE60K_FY-SF-KM-1-1.GRDECL',
 'Book1.xlsx',
 'CVX Waterflood Pattern Allocations.xlsx',
 'ConditionIdentificationMLModel.zip',
 'ConditionIdentificationModel.zip',
 'CumulativesTest.csv',
 'Data Session Stats Old.xlsx',
 'Data Session Stats.xlsx',
 'Data.xlsx',
 'DateFormat.xlsx',
 'DeleteDataInScopeTest.xlsx',
 'DemoData.accdb',
 'Entities Import.xlsx',
 'Example Well 001.LAS',
 'FY-2022 Post-JIB (NET).xlsx',
 'Fake Hierarchy.xlsx',
 'Histórico_Teste_Poço_Geral_10anos_rev1 (1).xlsx',
 'OGD_DrillingSpacingUnits.dbf',
 'OGD_DrillingSpacingUnits.shp',
 'Oil.xlsx',
 'PetroVisor Sample Data.xlsx',
 'Pontian1',
 'Pontian1.shp',
 'PredictiveMaintenance.zip',
 'Prod Small Set.xlsx',
 'ProdMan Report 02.27.2023.xlsx',
 'Prod_1000.xlsx',
 'PythonDataFrame',
 'PythonDataFrame.csv',
 'PythonDataFrame.xlsx',
 'Reserves_Master_Oneline.xlsx',
 'Static Small Set.xlsx',
 'String Cleansing Concat.xlsx',
 'String Cleansing.xlsx',
 'Synthetic Production Data.csv',
 'Synthetic Static Data.xlsx',
 'Tag Entries Import Test.xlsx',
 'TagEntriesImportExample.xlsx',
 'WDBC_QEPDEMO_Well_Header.txt',
 'WFMP A SHALE - STRUCTURE.zmap',
 'Weird Date Format.xlsx',
 'Well Test.xlsx',
 'WellMaster-Steward Master Well List (6).xlsx',
 'Workflow Export.csv',
 'analytic_params.npy',
 'best_actor_model.onnx',
 'data integration test.xlsx',
 'first_file.csv',
 'folder_name/text_file_inside_folder.txt',
 'fu-86D-AL.csv',
 'fu-86D-AL.xls',
 'in_memory_json_file.txt',
 'in_memory_text_file.txt',
 'irap_grid_01.png',
 'iris_binary_classification.onnx',
 'iris_binary_classification_zipmap_false.onnx',
 'json_file.txt',
 'linear_regression_model.onnx',
 'model_tf (1).onnx',
 'model_tf (2).onnx',
 'model_tf (3).onnx',
 'model_tf.onnx',
 'npssss.onnx',
 'oip_map',
 'oip_map.shp',
 'oip_map_cps3',
 'oip_map_irap',
 'oip_map_zmap',
 'pyobj',
 'python_file.json',
 'python_object.json',
 'pytorch_mlp.onnx',
 'regression_4in_1out_tf2onnx_onnx_model (1).onnx',
 'regression_4in_1out_tf2onnx_onnx_model.onnx',
 'regression_4in_1out_tf2onnx_onnxmodel.onnx',
 'regression_model (1).onnx',
 'regression_model.onnx',
 'requirements (1).txt',
 'requirements.txt',
 'requirementsfile.txt',
 'requirementsfilenotorch (1).txt',
 'requirementsfilenotorch.txt',
 'saved_model.pb',
 'second_file.csv',
 'shapefile_map_example.dbf',
 'shapefile_map_example.prj',
 'shapefile_map_example.shp',
 'shapefile_map_example.shx',
 'sklearn_iris_model (1).onnx',
 'sklearn_iris_model (2).onnx',
 'sklearn_iris_model.onnx',
 'tensorflow_iris_model.onnx',
 'text_file.txt',
 'tf_keras_mlp (1).onnx',
 'torch_iris_model (2).onnx',
 'torch_iris_model.onnx',
 'zmap_example']

In [51]:
# delete file or object
filename = python_object_name
api.delete_file(filename)