In [1]:
import petrovisor as pv

# Authorization

In [2]:
# url
# discovery_url = r'https://identity.eu1.petrovisor.com'
discovery_url = r'https://identity.us1.petrovisor.com'

# workspace
workspace = 'Workspace Name'

# generate access key (only for the first time, comment the line afterwards)
key = pv.PetroVisor.generate_credentials_key()
# print(f"key : '{key}'")
# save key for later to reuse
# key = ''

api = pv.PetroVisor(workspace = workspace, discovery_url = discovery_url, key = key)
print(api.Api)

https://api.eu1.petrovisor.com

# PetroVisor API Swagger

https://api.eu1.petrovisor.com/index.html

https://api.us1.petrovisor.com/index.html

# Examples: Pivot Tables

In [3]:
# get existing pivot table names
api.get_pivot_table_names()

['_Test Column Order',
 'Boot Camp',
 'Boot Camp Static',
 'Commodity Prices',
 'Economic Inputs',
 'Economics Static Data',
 'Economics String Data',
 'Economics Time Data',
 'Enum Test',
 'Hub Prices and Fractions',
 'Leo',
 'Leo 2',
 'Leo Table',
 'redesign',
 'Response Surface ML Example t = 01/01/1992 12:25:00',
 'Several Tables',
 "Single'Quotation",
 'Test Table Function',
 'Test with space in the end ',
 'Testing Pivot Table',
 'Well b0001 production',
 'Wells Coordinates']

In [4]:
pivot_table_name = 'Testing Pivot Table'
entity_set = '3 Wells' # override EntitySet, use None to use EntitySet from PivotTable definition
scope = '2023' # override Scope, use None to use Scope from PivotTable definition

In [5]:
# load pivot table data (generated)
api.load_pivot_table_data(pivot_table_name,
                             entity_set=entity_set,
                             scope=scope,
                             generate=True)

      Entity       Time  oil production rate (m3/h)
0   Well 001 2023-01-01                  519.612903
1   Well 001 2023-02-01                  147.000000
2   Well 001 2023-03-01                  132.000000
3   Well 001 2023-04-01                  187.000000
4   Well 001 2023-05-01                  201.000000
5   Well 001 2023-06-01                  295.000000
6   Well 001 2023-07-01                  185.000000
7   Well 001 2023-08-01                  289.000000
8   Well 001 2023-09-01                  247.000000
9   Well 001 2023-10-01                  283.000000
10  Well 001 2023-11-01                  117.000000
11  Well 001 2023-12-01                  132.000000
12  Well 002 2023-01-01                  555.290323
13  Well 002 2023-02-01                  276.000000
14  Well 002 2023-03-01                  287.000000
15  Well 002 2023-04-01                  226.000000
16  Well 002 2023-05-01                  110.000000
17  Well 002 2023-06-01                  134.000000
18  Well 002 2023-07-01                  129.000000
19  Well 002 2023-08-01                  180.000000
20  Well 002 2023-09-01                  198.000000
21  Well 002 2023-10-01                  254.000000
22  Well 002 2023-11-01                  300.000000
23  Well 002 2023-12-01                  134.000000
24  Well 003 2023-01-01                  483.322581
25  Well 003 2023-02-01                  288.000000
26  Well 003 2023-03-01                  239.000000
27  Well 003 2023-04-01                  215.000000
28  Well 003 2023-05-01                  205.000000
29  Well 003 2023-06-01                  203.000000
30  Well 003 2023-07-01                  201.000000
31  Well 003 2023-08-01                  238.000000
32  Well 003 2023-09-01                  209.000000
33  Well 003 2023-10-01                  139.000000
34  Well 003 2023-11-01                  239.000000
35  Well 003 2023-12-01                  296.000000

In [6]:
# save pivot table data
api.save_pivot_table_data(pivot_table_name,
                             entity_set=entity_set,
                             scope=scope)

In [7]:
# load pivot table data (saved)
api.load_pivot_table_data(pivot_table_name)

      Entity       Time  oil production rate (m3/h)
0   Well 001 2023-01-01                  519.612903
1   Well 001 2023-02-01                  147.000000
2   Well 001 2023-03-01                  132.000000
3   Well 001 2023-04-01                  187.000000
4   Well 001 2023-05-01                  201.000000
5   Well 001 2023-06-01                  295.000000
6   Well 001 2023-07-01                  185.000000
7   Well 001 2023-08-01                  289.000000
8   Well 001 2023-09-01                  247.000000
9   Well 001 2023-10-01                  283.000000
10  Well 001 2023-11-01                  117.000000
11  Well 001 2023-12-01                  132.000000
12  Well 002 2023-01-01                  555.290323
13  Well 002 2023-02-01                  276.000000
14  Well 002 2023-03-01                  287.000000
15  Well 002 2023-04-01                  226.000000
16  Well 002 2023-05-01                  110.000000
17  Well 002 2023-06-01                  134.000000
18  Well 002 2023-07-01                  129.000000
19  Well 002 2023-08-01                  180.000000
20  Well 002 2023-09-01                  198.000000
21  Well 002 2023-10-01                  254.000000
22  Well 002 2023-11-01                  300.000000
23  Well 002 2023-12-01                  134.000000
24  Well 003 2023-01-01                  483.322581
25  Well 003 2023-02-01                  288.000000
26  Well 003 2023-03-01                  239.000000
27  Well 003 2023-04-01                  215.000000
28  Well 003 2023-05-01                  205.000000
29  Well 003 2023-06-01                  203.000000
30  Well 003 2023-07-01                  201.000000
31  Well 003 2023-08-01                  238.000000
32  Well 003 2023-09-01                  209.000000
33  Well 003 2023-10-01                  139.000000
34  Well 003 2023-11-01                  239.000000
35  Well 003 2023-12-01                  296.000000

In [8]:
# delete pivot table data
api.delete_pivot_table_data(pivot_table_name)