In [1]:
import petrovisor as pv

# Authorization

In [ ]:
# url
# discovery_url = r'https://identity.eu1.petrovisor.com'
discovery_url = r'https://identity.us1.petrovisor.com'

# workspace
workspace = 'Workspace Name'

# generate access key (only for the first time, comment the line afterwards)
key = pv.PetroVisor.generate_credentials_key()
# print(f"key : '{key}'")
# save key for later to reuse
# key = ''

pv_api = pv.PetroVisor(workspace = workspace, discovery_url = discovery_url, key = key)
print(pv_api.Api)

# PetroVisor API Swagger

https://api.eu1.petrovisor.com/index.html

https://api.us1.petrovisor.com/index.html

# Examples: Pivot Tables

In [3]:
pivot_table_name = 'Testing Pivot Table'
entity_set = None
scope = None

In [4]:
# load pivot table data (saved)
pv_api.load_pivot_table_data(pivot_table_name,
                             entity_set=entity_set,
                             scope=scope,
                             generate=False)

In [5]:
# load pivot table data (generated)
pv_api.load_pivot_table_data(pivot_table_name,
                             entity_set=entity_set,
                             scope=scope,
                             generate=True)

     Entity       Time  oil production rate (m3/h)
0   Well 01 2022-01-01                   99.193548
1   Well 01 2022-02-01                  102.964286
2   Well 01 2022-03-01                  100.322581
3   Well 01 2022-04-01                  104.100000
4   Well 01 2022-05-01                  100.161290
5   Well 01 2022-06-01                   85.000000
6   Well 01 2022-07-01                         NaN
7   Well 02 2022-01-01                         NaN
8   Well 02 2022-02-01                         NaN
9   Well 02 2022-03-01                         NaN
10  Well 02 2022-04-01                         NaN
11  Well 02 2022-05-01                         NaN
12  Well 02 2022-06-01                         NaN
13  Well 02 2022-07-01                         NaN

In [6]:
# save pivot table data
pv_api.save_pivot_table_data(pivot_table_name,
                             entity_set=entity_set,
                             scope=scope)

In [7]:
# delete pivot table data
pv_api.delete_pivot_table_data(pivot_table_name)